{% extends 'partials/base.html' %}

{% block content %}
    <head>
    <style>
        .box {
            width: 450px;
            height: 100%;
            margin-top: -500px;
        }
    </style>
    </head>

    <!--div class="container mt-4 pt-2 pb-4" style="background-color: powderblue"-->
        <div class="row justify-content-center">
            <div class="col-md-9" style="margin-left: 800px">
                <h3 class="text-center">Kart</h3>
                {{ m | safe }}
            </div>
        </div>
     <div style="margin-left: 20px" class="box">
    <form action="" method="POST">
        {% csrf_token %}

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="alle" id="alle" value="true">
            <label class="form-check-label" for="alle">alle</label>
        </div>

                <p> Velg type bolig</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="type1" value="Enebolig">
            <label class="form-check-label" for="type1">Enebolig</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="type2" value="Leilighet">
            <label class="  form-check-label" for="type2">Leilighet</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="type3" value="Rekkehus">
            <label class="form-check-label" for="type3">Rekkehus</label>
        </div>
        <br>
        <br>
        <br>

        <p> Skriv inn max pris </p>
        <input type="integer" id="price" name="price" placeholder="Skriv inn max pris" maxlength="10">
        <br />

        <p> Hvilke parametere er viktig for deg?</p>
        <p> Hak dem av</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="price_telle" id="pris" value="true">
            <label class="form-check-label" for="pris">Lav pris</label>
        </div>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="area_telle" id="area" value="true">
            <label class="form-check-label" for="area">Stort areal</label>
        </div>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="energy_telle" id="energy" value="true">
            <label class="form-check-label" for="energy">Høy energiklasse</label>
        </div>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="year_telle" id="year" value="true">
            <label class="form-check-label" for="year">Nytt hus</label>
        </div>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="bedroom_telle" id="bedroom" value="true">
            <label class="form-check-label" for="bedroom">Mange soverom</label>
        </div>
        <br>
        <br>
        <p>De med sterk rødfarge oppfyller dine parametere best</p>
        <br>
        </div>
        <input type="submit" name="Lagre" class="btn btn-success" value="Vis i kart">

        </form>
</div>


{% endblock %}