{% extends 'partials/base.html' %}
{% block content %}

    <head>
    <style>
        *{margin: 0; padding: 0; border: 0; box-sizing: border-box;}
        .box {
            width: 450px;
            height: 100%;
            background-color: white;
        }


    </style>
    </head>
<body>
    <div style="margin-left: 20px" class="box" float="left">
    <form action="" method="POST">
        {% csrf_token %}
        <p> Skriv inn max pris </p>
        <input type="integer" id="price" name="price" placeholder="Skriv inn max pris" maxlength="10">
        <br />
        <p> Velg type bolig</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="type1" value="Enebolig">
            <label class="form-check-label" for="type1">Enebolig</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="type2" value="Leilighet">
            <label class="form-check-label" for="type2">Leilighet</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="type3" value="Rekkehus">
            <label class="form-check-label" for="type3">Rekkehus</label>
        </div>
        <br />
        <p> Skriv inn minimum areal </p>
        <input type="integer" id="area" name= "area" placeholder="Skriv inn minimum areal" maxlength="4">
        <br />
        <p> Velg minimum antall soverom</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="bedrooms" id="inlineRadio1" value="1">
            <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="bedrooms" id="inlineRadio2" value="2">
  <label class="form-check-label" for="inlineRadio2">2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="bedrooms" id="inlineRadio3" value="3">
  <label class="form-check-label" for="inlineRadio3">3</label>
</div>
        <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="bedrooms" id="inlineRadio4" value="4">
  <label class="form-check-label" for="inlineRadio4">4</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="bedrooms" id="inlineRadio5" value="5">
  <label class="form-check-label" for="inlineRadio5">5</label>
</div>
    <br>
    <p> Velg minimum energikarakter</p>
           <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="energy" id="energyA" value="A">
  <label class="form-check-label" for="energyA">A</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="energy" id="energyB" value="B">
  <label class="form-check-label" for="energyB">B</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="energy" id="energyC" value="C">
  <label class="form-check-label" for="energyC">C</label>
</div>
        <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="energy" id="energyD" value="D">
  <label class="form-check-label" for="energyD">D</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="energy" id="energyE" value="E">
  <label class="form-check-label" for="energyE">E</label>
</div>
            <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="energy" id="energyF" value="F">
  <label class="form-check-label" for="energyF">F</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="energy" id="energyG" value="G">
  <label class="form-check-label" for="energyG">G</label>
        </div>
        <br>
        <input type="submit" name="Lagre" class="btn btn-success" value="Lagre">

        </form>
</div>



{% endblock %}